.libraryContainer {
    padding: 20px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    .playlistGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  
    .playlistItem {
      text-align: center;
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
  
      p {
        margin-top: 10px;
        font-size: 1.1rem;
      }
    }
  }