.playlistContainer {
    padding: 20px;
  }
  
  .playlistHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
    .playlistImage {
      width: 150px;
      height: 150px;
      border-radius: 10px;
      margin-right: 20px;
    }
  
    .playlistInfo {
      flex-grow: 1;
      h1 {
        font-size: 2rem;
        margin: 0;
      }
    }
  
    .menuWrapper {
      position: relative;
  
      .menuButton {
        background: none;
        border: none;
        cursor: pointer;
      }
  
      .menuDropdown {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border-radius: 4px;
        overflow: hidden;
  
        button {
          display: block;
          width: 100%;
          padding: 10px;
          background: none;
          border: none;
          text-align: left;
          cursor: pointer;
  
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
  
  .songsContainer {
    margin-top: 30px;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
  
    .songList {
      list-style: none;
      padding: 0;
      
      li {
        display: grid;
        grid-template-columns: 0fr 2fr 1fr;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
  
        &:last-child {
          border-bottom: none;
        }

        .songLink {
          display: grid;
          align-items: center;
          text-decoration: none;
          color: inherit;
        }
  
        .songInfo {
          display: flex;
          flex-direction: column;
          gap: 5px;
          cursor: pointer;
        }
  
        .songName {
          font-size: 1.1rem;
          font-weight: bold;
        }
  
        .artistName {
          font-size: 0.9rem;
          color: #666;
        }
  
        .songDuration {
          font-size: 0.9rem;
        }
      }
    }
  }