.profileContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .profileContent {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profileDetails {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
    .profilePhoto {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  
    .userInfo {
      h1 {
        font-size: 2rem;
        color: #333;
      }
    }
  }
  
  .separator {
    border: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .playlists {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .playlistGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  
    .playlistCard {
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer;
      transition: transform 0.2s ease, background-color 0.2s ease;
  
      &:hover {
        transform: scale(1.05);
        background-color: #810871aa;
      }
  
      p {
        font-size: 1rem;
        color: #555;
      }
    }
  }