.sidebar {
  grid-area: sidebar;
  background-color: rgb(102, 8, 94);
  color: white;
  height: calc(100vh - 64px);
  margin-top: 64px;
  position: fixed;
  top: 64px;
  left: 0;
  width: 250px;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
}

.open {
  transform: translateX(0);
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #3a3a3a;
  border-radius: 9999px;
  padding: 5px 15px;
  margin-bottom: 20px;
  width: 100%;
}

.searchInput {
  flex-grow: 1;
  background: transparent;
  border: none;
  color: white;
  padding: 5px;
  outline: none;
  border-radius: 9999px;
}