.sidebar {
    width: 240px;
    background-color: #000;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  
    .linkWrapper {
      display: flex;
      flex-direction: column;
    }
  
    .link {
      display: flex;
      align-items: center;
      padding: 10px 0;
      color: #b3b3b3;
      text-decoration: none;
      transition: color 0.2s ease;
  
      &.active {
        color: #fff;
      }
  
      &:hover {
        color: #fff;
      }
  
      .icon {
        margin-right: 15px;
        font-size: 24px;
      }
    }
  
    .divider {
      margin: 20px 0;
      height: 1px;
      background-color: #282828;
    }
  
    .createPlaylist {
      display: flex;
      align-items: center;
      cursor: pointer;
  
      .icon {
        font-size: 24px;
        margin-right: 15px;
      }
    }
  }
  