.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(102, 8, 94);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1001;
}

.navButtonGroup {
  display: flex;
  align-items: center;
}

.navButton {
  color: white;
  margin: 0 8px;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #3a3a3a;
  border-radius: 50px;
  padding: 4px 16px;
  margin-left: 20px;
  width: 350px; 
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.searchInput {
  flex-grow: 1;
  background: transparent;
  border: none;
  color: white;
  padding: 5px;
  outline: none;
  border-radius: 9999px;
}

.searchIcon {
  color: white;
}

.flexSpacer {
  flex-grow: 1;
}

.profileMenu {
  color: rgb(235, 216, 216);
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px 15px;
  }

  .searchBar {
    margin-left: 10px;
    width: 250px;
  }

  .profileMenu {
    margin-right: 10px;
  }
}