.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  text-align: center;

  h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}