.newInContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .albumCover {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
  }
  
  .albumText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .albumTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 5px 0;
  }
  
  .albumDescription {
    font-size: 1rem;
    color: #666;
  }
  